#tentang-kami h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    color: rgb(69,179,231);
}

#tentang-kami p {
    padding-right: 53px;
}

#tentang-kami img {
  margin-top: 10px;
  width: 600px;
}

.aboutUs {
  background-image: url(../img/about.jpeg);
  height: 550px;
}

