.navbar {
    background-color: rgb(69,179,231) !important;
    height: 60px;
}

.navbar-brand p {
    color: white !important;
}

.nav-link {
    color:white !important;
    margin-right: 15px;
}

.navbar p {
  font-family: 'Playfair Display';
  font-weight: 800;
  margin-top: 15px;
  margin-right: 20px;
}
